{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_amplifier/widget/amplifier-predefined-learning-goal

    A learning goal label

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * amplifier_predefined_learning_goal_label
    * amplifier_predefined_learning_goal_topicid
    * amplifier_predefined_learning_goal_goalid

    Example context (json):
    {
        "amplifier_predefined_learning_goal_label": "Lernziel Titel",
        "amplifier_predefined_learning_goal_topicid": "1",
        "amplifier_predefined_learning_goal_goalid": "1"
    }
}}
<div class="form-group text-left">
    <div class="form-check text-left">
        <input
            class="form-check-input predefined-learning-goal-check"
            type="checkbox"
            value=""
            data-topicid="{{{amplifier_predefined_learning_goal_topicid}}}"
            data-goalid="{{{amplifier_predefined_learning_goal_goalid}}}">
        <label class="form-check-label font-weight-bold" >
            {{{amplifier_predefined_learning_goal_label}}}
        </label>
    </div>
</div>
